//
   Created by Andy on 3/18/2017.
html
    head
        title="Student Management"
    body
        h1="student list"
        table
            tr
                td="Name"
                td="Age"
                td="School"
            each student in studentList
                tr
                    td=student.name
                    td=student.age
                    td=student.school